body{

    text-align: center;
}

.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(236, 208, 232);
}

#details{
    font-size: 1.0em;
    margin: 0;

}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

#description{
    font-size: 1.0em;
    margin: 0;
}

.color{
    background-color: rgb(236, 208, 232);
}



